src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BanqueWS?xsd=1"/>
</xsd:schema>
</types>
<message name="ListComptes">
<part name="parameters" element="tns:ListComptes"/>
</message>
<message name="ListComptesResponse">
<part name="parameters" element="tns:ListComptesResponse"/>
</message>
<message name="conversionDhToEuro">
<part name="parameters" element="tns:conversionDhToEuro"/>
</message>
<message name="conversionDhToEuroResponse">
<part name="parameters" element="tns:conversionDhToEuroResponse"/>
</message>
<message name="conversionEuroToDH">
<part name="parameters" element="tns:conversionEuroToDH"/>
</message>
<message name="conversionEuroToDHResponse">
<part name="parameters" element="tns:conversionEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="ListComptes">
<input wsam:Action="http://ws/BanqueService/ListComptesRequest" message="tns:ListComptes"/>
<output wsam:Action="http://ws/BanqueService/ListComptesResponse" message="tns:ListComptesResponse"/>
</operation>
<operation name="conversionDhToEuro">
<input wsam:Action="http://ws/BanqueService/conversionDhToEuroRequest" message="tns:conversionDhToEuro"/>
<output wsam:Action="http://ws/BanqueService/conversionDhToEuroResponse" message="tns:conversionDhToEuroResponse"/>
</operation>
<operation name="conversionEuroToDH">
<input wsam:Action="http://ws/BanqueService/conversionEuroToDHRequest" message="tns:conversionEuroToDH"/>
<output wsam:Action="http://ws/BanqueService/conversionEuroToDHResponse" message="tns:conversionEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionDhToEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8080/BanqueWS"/>
</port>
</service>
</definitions>